.title-regis {
  font-weight: bold;
  padding-top: 40px;
  margin-left: 37px;
}

.subtitle-regis {
  font-size: 19px;
  color: #777778;
  margin-left: 40px;
}

.regis-container {
  background-color: white;
  height: auto;
  width: 600px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 20%;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 10px;
  margin: 40px;
  border-radius: 6px;
  font-weight: bold;
  border-color: #3b83f6;
}

.form-input {
  border-radius: 2px;
  border: 1px solid #acadb0;
  border-radius: 6px;
  height: 40px;
  font-size: medium;
}

.form-p {
  color: red;
  opacity: 70%;
  font-size: small;
  margin: 0%;
}

.regis-btn {
  background-color: #3b83f6;
  color: white;
  padding: 15px 120px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 19px;
  width: 520px;
}

.regis-btn-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.regis-btn:hover {
  filter: brightness(80%);
}
