/* .home-container {
  background-color: white;
  height: auto;
  width: 600px;
  border-radius: 10px;
  padding: 35px;
  margin-top: 20%;
  margin-bottom: 30px;
}

.image-wrapper {
  margin: 100px 50px 50px 50px;
}

.image-preview {
  background-color: #eaeaea;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.custom-file-upload {
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #3b83f6;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  width: 100%;
  font-size: 19px;
  display: flex;
  justify-content: center;
}

.custom-file-upload:hover {
  filter: brightness(85%);
}

.upload-img[type="file"] {
  display: none;
}

.process-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generated-data {
  font-size: 19px;
  margin: 0px 25px 0px 25px;
  NO NEED TO ADD "my-0" cause default is already 0px ?
  padding-top: 20px;
  text-align: justify;
  word-spacing: normal;
  white-space: pre-line;
}
 */
