@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b83f6;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: fit-content;
}

/* className= "bg-indigo-600	text-black font-sans mx-auto w-fit" */
