/* .container-card {
  background: white; bg-white
  display: flex; flex
  width: 1000px; w-[1000px]
}

.image-card {
  width: 50%; w-3/6	
}
.image-card img {
  width: 100%; w-full	
  height: 100%; h-full
  object-fit: cover; object-cover	
}

.result-card {
  width: 100%; w-full	
}

.result-card h2 {
  padding: 20px 20px 0 20px; pt-5 py-5 pb-0
}

.result-card p {
  font-size: 19px; text-[19px]
  padding: 5px 20px; py-1.5 px-5
  text-align: justify; text-justify
  word-spacing: normal; [word-spacing: normal]
  white-space: pre-line; whitespace-pre-line	
  color: rgb(99, 104, 107); text-[#636869]
} */
